@import url (http://fonts.googleapis.com/css?family=Fanwood+Text);
li{
    font-family: 'Fanwood+Text';
  }
p{ text-transform:capitalize;}
a:visited{
    color:blue;
}
body{
    background-color:green;
}